<!doctype html>
<html lang="en">
<%- include("./includes/head") %>

<body>
  <%- include("./includes/navigation") %>
  <%- body -%>
  <%- include("./includes/footer") %>
  <%- include("./includes/foot") %>
</body>

</html>